.galleryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.leftArrow {

}

.rightArrow {

}

.gallery {
  display: block;
  margin: auto 0;
  width: 100%;
  height: auto;
}
