.galleryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 5px);
  width: 100%;
  background-color: white;
  margin-right: 5px;
}

.leftArrow {

}

.rightArrow {

}

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
  align-content: center;

}
