.countdown {
  display: inline-block;
  background-color: #EABB9D;
  padding: 10px 10px 10px 10px;
  width: 100%;
  text-align: center;
}

.countdownHeader {
  font-family: "Castledown";
  color: #183249;
  font-size: 1.75vh;
}

.countdownSmallHeader {
  font-family: "Castledown";
  color: #183249;
  font-size: 0.5em;
}

.digit::selection {
  color: #183249;
}
.digit::-moz-selection {
  color: #183249;
}

.colon::selection{
  background: None;
}

.largeDigits {
  font-size: 2em;
  font-family: "Castledown";
}

.mediumDigits {
  font-size: 1.75vh;
  font-family: "Castledown";
}

.smallDigits {
  font-size: 0.7em;
  font-family: "Castledown";
}

.digit, .colon {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 #373F57;
  text-align: center;
  width: 1.5em;
  outline-width: 0;
  background-color: #EABB9D;
}

.button {
  width: 33.3%;
  padding: 3px;
}
